body {
  //先定义背景
  background: url("../cup/img_bg_haven.jpg"); //这个是正确的
  background-position: center;
  background-size: cover; /*这个是正确的*/

  .welcomePanel {
    background: url("../cup/login_001.jpg") no-repeat;
    background-size: 60%;
    width: auto;
    height: 408px;
    margin: auto;
    margin-top: 15%;
    margin-left: auto;
    padding-top: 10px;
    border-radius: 6px;
    border: 1px;

    .login_title {

    }
  }
}